body {
    font-family: Poppins;
    margin: 0px;
    background-color: #f4f6f8;
    color: #222222;
}

header {
    background-color: #0043a3;
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #ffffff;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 5px;
    padding: 16px;
}

nav a {
    color: #173d60;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
}

main {
    width: 90%;
    max-width: 900px;
    margin: 24px auto;
}

section {
    background-color: white;
    padding: 20px;
    margin-bottom: 18px;
    border-radius: 8px;
}

.container-servicos {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}

.container-servicos article {
    background-color: white;
    padding: 23px;
    border: 1px solid rgba(221, 221, 221, 0.06);
    border-radius: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 200px;
    box-sizing: border-box;
    min-height: 350px;
}

.container-servicos article h3 {
    text-align: center;
}

.container-servicos article p {
    line-height: 1.6;
}

.container-servicos article .orientacao {
    margin-top: auto;
    align-self: center;
}

.titulo {
    text-align: center;
}

.servicosdisponiveis {
    padding-bottom: 35px;
}

.servicos {
    padding-top: 15px;
    text-align: center;
}

.contato {
    text-align: center;
}

img {
    max-width: 100%;
    height: 550px;
    width: 900px;
    border-radius: 8px;
}

label {
    display: block;
    margin-top: 12px;
    font-weight: bold;
}

input, select, textarea {
    font-family: Poppins;
    width: 100%;
    padding: 10px;
    margin-top: 4px;
    box-sizing: border-box;
    resize: none;
}

button {
    font-size: 15px;
    font-family: Poppins;
    background-color: #0043a3;
    color: #ffffff;
    border: 1px solid #ffffff;
    margin-top: 14px;
    padding: 12px 30px;
    border-radius: 12px;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 20px;
    color: #555555;
}

.orientacao {
    display: inline-block;
    position: static;
    margin-top: auto;
    font-family: Poppins;
    background-color: #0043a3;
    color: #ffffff;
    border-radius: 10px;
    text-decoration: none;
    padding: 10px 15px;
}